PORT=5000
MONGO_URI=mongodb+srv://theshubhamshri_db_user:xUukRdJTZXxpzHl7@cluster0.nzk7ie6.mongodb.net/?appName=Cluster0
JWT_SECRET=super-secret-jwt-key
CLIENT_ORIGIN=http://localhost:5173
GEMINI_API_KEY=AIzaSyAYKbfxkn5oeSJqjZMS12CVWInted-OIo4
